<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Main</a></li>
                {{#if loggedIn}}
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="#"><span id="logout">Logout</a></span></li>
                {{else}}
                <li> <a href="/login">Login</a></li>
                {{/if}}
            </ul>
        </nav>
    </header>
    <main>
        {{{body}}}
    </main>
    <footer>
        © Johnny Wu Developer 2021
    </footer>
</body>

{{#if loggedIn}}
<script src="/js/logout.js"></script>
{{/if}}

</html>